```html
{{ define "board" }}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title> {{ .UID }}</title>
</head>

<body>

    <!-- Вставляем Vite index.html (с поправленными путями) -->
    {{ .IndexHTML }}

    <script>
        // Если index.html не подставил UID, делаем доступным через глобальную переменную
        window.APP_UID = window.APP_UID || "{{ .UID }}";
    </script>

</body>
</html>
{{ end }}
```