{{ define "dashboard" }}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>Blanko Boards</title>
</head>

<body>

    <!-- Вставляем Vite index.html -->
    {{ .IndexHTML }}

    <script>
        window.dashData = {
            name: "{{ .Name }}",
            email: "{{ .Email }}",
            workspaceName: "{{ .WorkspaceName }}"
        };
    </script>

</body>
</html>
{{ end }}
